<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loops</title>
</head>
<body>

<div id="app">
    <h1 v-for="(user, index) in users">
        {{ user }} {{ index}}
    </h1>

    <h3 v-for="(element, index) in obj">
        {{ `the element is ${element} and the index or the key is ${key}` }}
    </h3>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>
    const {createApp} = Vue;

    createApp({
        data() {
            return {
                users: ['Omar', 'Ahmad', 'Sarah', 'Khalid'],
                obj: {
                    key1: 1,
                    key2: 2,
                    key3: 3
                }
            };
        }
    }).mount('#app');
</script>
</body>
</html>
