<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forms with Vue</title>
</head>
<body>
<div id="app">
    <form id="form" @submit.prevent="submitForm">
        <input type="text" placeholder="Enter your name" v-model="name">
        <input type="email" placeholder="Enter your email" v-model="email">
        <button>Submit</button>
    </form>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>
    const {createApp} = Vue;

    createApp({
       data() {
         return {
             name: null,
             email: null
         }
       },
       methods: {
           submitForm() {
               console.log(this.name)
               console.log(this.email)
           }
       }
    }).mount('#app');
</script>
</body>
</html>
